body{
  margin: 0;
  padding: 0;
}
.menu {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  background: #fff;
  width: 100%;
}

.menu-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  position: relative;
  padding: 0 1em;
}

.menu-item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
  padding: 0.75em 1.5em;
}

.menu-item {
  position: relative;
}

.submenu {
  list-style-type: none;
  border-top: 1px solid black;
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 10px;
}


.menu-item:hover .submenu {
  display: block;
}

.container {
  display: flex;
}

.item1 {
  background: red;
  flex: 0 0 100px;
}

.item2 {
  background: green;
  flex: 0 2 150px;
}

.item3 {
  background: red;
  flex: 1 0 200px;
}
